<h1><%= @buffet.company_name %></h1>

<div>
  <p><%= @buffet.brand_name %></p>
  <p> <%= @buffet.crn %> </p>
  <p> <%= @buffet.phone %></p>
  <p> <%= @buffet.email %></p>
  <p> <%= @buffet.description %></p>
</div>

<div>
  <h2><%= Buffet.human_attribute_name :address %></h2>
  <p> <%= @buffet.address.full_address %></p>
</div>

<h2>><%= Buffet.human_attribute_name :payment_method %></h2>
<% @buffet.payment_methods.each do |payment_method| %>
  <p><%= payment_method.name %></p>
<% end %>
<br/>

<%= render_edit_buffet_button(@buffet) %>