<h1><%= I18n.t("helpers.dashboard.owner.owner_area") %></h1>

<%= link_to I18n.t("helpers.dashboard.owner.show_order_requests"), owner_orders_path %>

<div>
  <h2><%= @buffet.brand_name %></h2>
  <p><%= @buffet.description %></p>
  <%= link_to I18n.t("helpers.dashboard.owner.show_buffet_details"), owner_buffet_path(@buffet.id) %>
</div>

<div>
  <h2>Eventos cadastrados</h2>
  <%= link_to I18n.t("helpers.models.event.create"), new_owner_buffet_event_path(@buffet.id) %>

  <% if @events.empty? %>
  <p>Nenhum evento cadastrado.</p>
  <% else %>
    <dl>
    <% @events.each do |e| %>
      <dt><%= link_to e.name,  owner_buffet_event_path(@buffet.id, e.id) %></dt>
      <dd><%= e.description %></dd>
    </dl>
  <% end %>
</div>
<% end %>