<h1><%= @buffet.brand_name %></h1>

<div>
  <p><%= Buffet.human_attribute_name :description %>: <%= @buffet.description %></p>
  <p><%= Buffet.human_attribute_name :crn %>: <%= @buffet.crn %> </p>
  <p><%= Buffet.human_attribute_name :phone %>: <%= @buffet.phone %></p>
  <p><%= Buffet.human_attribute_name :email %>: <%= @buffet.email %></p>
</div>

<div>
  <h2><%= Buffet.human_attribute_name :address %></h2>
  <p> <%= @buffet.address.full_address %></p>
</div>

<h2><%= Buffet.human_attribute_name :payment_methods %></h2>
<% @buffet.payment_methods.each do |payment_method| %>
  <p><%= payment_method.name %></p>
<% end %>
<br/>

<h2><%= Event.model_name.human(count: @events.count) %></h2>
  <% @events.each do |event| %>
  <div>
    <h3><%= event.name %></h3>
    <p><%= event.description %></p>
    <p>Número de convidados: de <%= event.min_and_max_guests_format %></p>
    <p><%= Event.human_attribute_name(:standard_duration) %>: <%= event.convert_to_hours %></p>
    <p><%= Event.human_attribute_name(:menu) %>: <%= event.menu %></p>
    <div>
      <% event.photos.each do |photo| %>
        <%= image_tag photo %>
      <% end %>
    </div>
    <p><%= Event.human_attribute_name(:offsite_event) %>: <%= event.offsite_event_status %></p>
    <p><%= Event.human_attribute_name(:offers_alcohol) %>: <%= event.offers_alcohol_status %></p>
    <p><%= Event.human_attribute_name(:offers_decoration) %>: <%= event.offers_decoration_status %></p>
    <p><%= Event.human_attribute_name(:offers_valet_parking) %>: <%= event.offers_valet_parking_status %></p>
    <div>
      <h3><%= EventPrice.model_name.human %></h3>
      <dl>
        <% event.event_prices.each do |event_price| %>
          <dt>
            <b><%= I18n.t("activerecord.attributes.event_price.day_types.#{event_price.day_type}")%></b>
          </dt>
          <dd>
            <p><%= EventPrice.human_attribute_name(:standard_price) %>: <%= number_to_currency(event_price.standard_price) %></p>
            <p><%= EventPrice.human_attribute_name(:extra_guest_price) %>: <%= number_to_currency(event_price.extra_guest_price) %></p>
            <p><%= EventPrice.human_attribute_name(:extra_hour_price) %>: <%= number_to_currency(event_price.extra_hour_price) %></p>
          </dd>
        <% end %>
      </dl>
    </div>
  </div>
  <br/>
  <% end %>