<h1>Preço para <%= @event.name %></h1>

<% if @event_price.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @event_price.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: [:owner, @buffet, @event, @event_price] do |price|%>
  <div>
    <%= price.label :standard_price %>
    <%= price.number_field :standard_price %>
  </div>
  <br/>

  <div>
    <%= price.label :extra_guest_price %>
    <%= price.number_field :extra_guest_price %>
  </div>
  <br/>

  <div>
    <%= price.label :extra_hour_price %>
    <%= price.number_field :extra_hour_price %>
  </div>
  <br/>

  <div>
    <%= price.label :day_type %>
    <%= price.collection_select :day_type, EventPrice.day_type_options, :first, :last %>
  </div>

  <%= price.submit "Cadastrar preço do evento", data: { turbo: false }%>
<% end %>