<!DOCTYPE html>
<html>
  <head>
    <title>CadeBuffet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  </head>

  <body class="flex-vertical">
    <nav id="nav" class="nav-background">
        <ul class="flex align nav-content">
          <h1><%= link_to "Cadê Buffet?", root_path, class: 'link-disguise main-title'%></h1>

          <%= render 'shared/search_form' %>

          <div class="flex logged-links">
            <% if user_signed_in? %>
              <% if current_user.role == 'owner' %>
                <li class="logged-link"><%= link_to I18n.t("helpers.dashboard.owner.owner_area"), owner_dashboards_path, class: "link-disguise" %></li>
              <% else %>
                <li class="logged-link"><%= link_to I18n.t("helpers.dashboard.client.client_area"), client_dashboards_path, class: "link-disguise" %></li>
              <% end %>
              <div class="flex align user-info">
                <%= current_user_info %>
                <li class="session-link"><%= button_to I18n.t("helpers.dashboard.logout"), destroy_user_session_path, method: :delete %></li>
              </div>
          </div>

          <% else %>
            <div class="flex align gap">
              <li class="flex align"><%= link_to I18n.t("devise.registrations.new.sign_up"), new_user_registration_path, class: 'session-link link-disguise'%></li>
              <li class="flex align"><%= link_to I18n.t("devise.sessions.new.sign_in"), new_user_session_path, class: 'session-link link-disguise' %></li>
            </div>
          <% end %>
        </ul>
    </nav>

    <div class="flex-vertical space-around content-container">
      <%= notice %>
      <%= alert %>

      <%= yield %>
    </div>
  </body>
</html>