<!DOCTYPE html>
<html>
  <head>
    <title>CadeBuffet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav id="nav">
      <h1><%= link_to "Cadê Buffet?", root_path %></h1>
      <ul>
        <% if user_signed_in? %>
          <p><%= current_user_info %></p>

          <% if current_user.role == 'owner' %>
          <li><%= link_to I18n.t("helpers.dashboard.owner.owner_area"), owner_dashboards_path %></li>
          <% else %>
            <%= render 'shared/search_form' %>
            <li><%= link_to I18n.t("helpers.dashboard.client.client_area"), client_dashboards_path %></li>
          <% end %>
          <li><%= button_to I18n.t("helpers.dashboard.logout"), destroy_user_session_path, method: :delete %></li>

        <% else %>
          <%= render 'shared/search_form' %>
          <li><%= link_to I18n.t("devise.registrations.new.sign_up"), new_user_registration_path %></li>
          <li><%= link_to I18n.t("devise.sessions.new.sign_in"), new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>

    <%= notice %>
    <%= alert %>

    <%= yield %>
  </body>
</html>