<!DOCTYPE html>
<html>
  <head>
    <title>CadeBuffet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= notice %>
  <%= alert %>
    <nav id="nav">
      <h1><%= link_to "Cadê Buffet?", root_path %></h1>
      <ul>
        <% if user_signed_in? %>
          <li><%= button_to 'Sair', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Cadastrar', new_user_registration_path %></li>
          <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
